{% extends "base.html.twig" %}

{% block body %}
    <div class="w3l_banner_nav_right">
        <div class="w3ls_w3l_banner_nav_right_grid">
            <h3>Etablissements</h3>
                <div class="w3ls_w3l_banner_nav_right_grid1" width="80" height="200">
                    {% for etablissement in  etablissements  %}
                        <div class="col-md-3 w3ls_w3l_banner_left">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                    <div class="agile_top_brand_left_grid_pos">
                                        <p style="z-index: 22000; position: absolute;">{% if etablissement.horraire |date('H:i:s') < "now" |date('H:i:s') and etablissement.horraireF |date('H:i:s') > "now" |date('H:i:s') %} <i class="badge badge-success">Ouvert</i> {% else %}<i class="badge badge-danger">Fermé</i>{% endif %}</p>
                                    </div>
                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    {% if etablissement.photo %}
                                                        <a href="#"><img src="{{ asset('bundles/blog/template/images/'~ etablissement.photo )  }}" width="160" height="160" alt=" "
                                                                         class="img-responsive"/></a>
                                                    {% else %}
                                                        {% if etablissement.type =="cafe" %}
                                                        <a href="#"><img src="{{ asset('images/cafe_ini.jpg') }}" width="160" height="160" alt=" "
                                                                         class="img-responsive"/></a>
                                                            {% endif %}
                                                        {% if etablissement.type =="shopping" %}
                                                            <a href="#"><img src="{{ asset('images/shopping_ini.png') }}" width="160" height="160" alt=" "
                                                                             class="img-responsive"/></a>
                                                        {% endif %}
                                                        {% if etablissement.type =="restaurant" %}
                                                            <a href="#"><img src="{{ asset('images/restaurant_ini.jpg') }}" width="160" height="160" alt=" "
                                                                             class="img-responsive"/></a>
                                                        {% endif %}
                                                        {% if etablissement.type =="loisirs" %}
                                                            <a href="#"><img src="{{ asset('images/loisir_ini.jpg') }}" width="160" height="160" alt=" "
                                                                             class="img-responsive"/></a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <h2 class="text-center">{{ etablissement.nom }}</h2>
                                                    {% if etablissement.note %}
                                                        <h2 class="text-center text-success">{{ etablissement.note }}</h2><br>
                                                    {% endif %}
                                                    <p class="text-center">{% if etablissement.horraire |date('H:i:s') %} <i class="badge">{{  etablissement.horraire |date('H:i:s') }} </i> {% endif %}</p>
                                                    <p class="text-center">{% if etablissement.horraireF |date('H:i:s') %} <i class="badge">{{  etablissement.horraireF |date('H:i:s') }} </i> {% endif %}</p>
                                                </div>
                                                <div class="snipcart-details">
                                                    <form action="#" method="post">
                                                        <fieldset>
                                                            <input type="submit" name="submit" value="Détails"
                                                                   class="button"/>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>

{% endblock %}