{% extends "base.html.twig" %}

{% block body %}
    <div class="w3l_banner_nav_right">
         <!-- //flexSlider -->
        <div class="w3ls_w3l_banner_nav_right_grid">
            <h3><a href="{{ path('best_etab') }}"> Recommendations </a></h3>
            {% if Cafes | length > 0 %}
                <div class="w3ls_w3l_banner_nav_right_grid1">
                    <h6>Café</h6>
                    {% for cafe in Cafes %}
                        <div class="col-md-3 w3ls_w3l_banner_left">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                    <div class="agile_top_brand_left_grid_pos">
                                        <p style="z-index: 22000; position: absolute;">{% if cafe.horraire |date('H:i:s') < date() |date('H:i:s') and cafe.horraireF |date('H:i:s') > date() |date('H:i:s') %} <i class="badge badge-success">Ouvert</i> {% else %}<i class="badge badge-danger">Fermé</i>{% endif %}</p>
                                    </div>
                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    {% if cafe.photo %}
                                                        <a href="#"><img src="{{ asset('bundles/blog/template/images/'~ cafe.photo ) }}" alt=" "
                                                                         class="img-responsive"/></a>
                                                    {% else %}
                                                        <a href="#"><img src="{{ asset('images/cafe_ini.jpg') }}" alt=" "
                                                                         class="img-responsive"/></a>
                                                    {% endif %}
                                                    <h2 class="text-center">{{ cafe.nom }}</h2>
                                                    {% if cafe.note %}
                                                        <h2 class="text-center text-success">{{ cafe.note }}</h2><br>
                                                    {% endif %}
                                                    <p class="text-center">{% if cafe.horraire |date('H:i:s') %} <i class="badge">{{  cafe.horraire |date('H:i:s') }} </i> {% endif %}</p>
                                                    <p class="text-center">{% if cafe.horraireF |date('H:i:s') %} <i class="badge">{{  cafe.horraireF |date('H:i:s') }} </i> {% endif %}</p>
                                                </div>
                                                <div class="snipcart-details">
                                                    <form action="#" method="post">
                                                        <fieldset>
                                                            <input type="submit" name="submit" value="Détails"
                                                                   class="button"/>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}