{% extends 'base.html.twig' %}


{% block body %}
    <div class="w3_login_module" id="kk">
    <div class="module form-module">
        <div class="toggle">

        </div>
        <div class="form" >
       {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.adresse) }}

            {{ form_row(form.description) }}
            {{ form_row(form.date) }}
            <br>
            {{ form_row(form.brochure) }}
            <br>
            {{ form_row(form.Sauvgarder) }}
            {{ form_end(form)}}
        </div>
        </div>


{% endblock body %}